:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

/*nav*/

.nav {
  background: #333;
  position: fixed;
  color: white;
  width: 100%;
  font-size: 2rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.nav li {
  list-style: none;
  margin: 1rem;
  float: right;
}

.nav p {
  margin-top: 3rem;
  margin-left: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: dodgerblue;
  transition: 0.3s;
}

/*icons*/

.icon {
  height: 40px;
  width: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}
