:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

html {
  font-size: 62.5%;
  background: url(../images/bg-wavey.svg);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*nav*/

.nav {
  background: #333;
  position: fixed;
  color: white;
  width: 100%;

  font-size: 1.5rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  top: 0;
}

.nav li {
  list-style: none;
  margin: 0.5rem;
  margin-top: 2rem;

  float: right;
}

.nav p {
  margin-top: 3rem;
  margin-left: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: dodgerblue;
  transition: 0.3s;
}

/*icons*/

.icon {
  height: 80px;
  width: 90px;
  margin-top: 0.3rem;
  margin-left: 0;
}

.icon--primary {
  fill: var(--color-primary);
}

/*roster*/
.roster {
  color: var(--color-primary);
  margin-top: 9rem;
  text-align: center;
  display: flex;
}

.roster img {
  margin-left: 0.3rem;
  width: 24vw;
  height: 20vh;
}
