:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-links: lightblue;
  --color-hover: dodgerblue;
  --color-background: #222;
}

html {
  font-size: 62.5%;
  background: url(../images/bg-wavey.svg);
  font-family: Yuji Mai, Shalimar;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*nav*/

.nav {
  background: #333;
  position: fixed;

  width: 100%;

  font-size: 1.5rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  top: 0;
}

.nav li {
  list-style: none;
  margin: 0.5rem;
  margin-top: 2rem;

  float: right;
}

.nav p {
  margin-top: 3rem;
  margin-left: 1rem;
}

.nav a {
  color: var(--color-links);
  text-decoration: none;
}

.nav a:hover {
  color: var(--color-hover);
  transition: 0.4s;
}

/*icons*/

.icon {
  height: 80px;
  width: 90px;
  margin-top: 0.3rem;
  margin-left: 0;
}

.icon--primary {
  fill: var(--color-primary);
}

.icond {
  margin-top: 0rem;
}

/*roster*/
.roster {
  color: var(--color-primary);
  margin-top: 2rem;
  text-align: center;
  display: flex;
  border: 1px solid var(--color-body);
  background: #222;
  border-radius: 0.5rem;
}

.roster img {
  margin-left: 0.1rem;
  width: 24vw;
  height: 20vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*videos*/

.videos {
  display: flex;
  margin-top: 2rem;
  margin-left: 0.1rem;
  border: 1px solid var(--color-body);
  background: var(--color-background);
  border-radius: 0.5rem;
}

.videos video {
  width: 98vw;
  height: 45vh;
  margin: 0.2rem;
}

/*upcoming*/

table {
  margin-top: 1rem;
}

table,
tr,
td,
th {
  border: 1px solid var(--color-body);
  border-collapse: collapse;
  width: 100vw;
  text-align: center;
  font-size: 2rem;
  color: var(--color-primary);
  background: var(--color-background);
  border-radius: 0.5rem;
}

table a {
  color: var(--color-links);
  text-decoration: none;
}

table a:hover {
  color: var(--color-hover);
  transition: 0.4s;
}

/*footer*/

.footer {
  color: var(--color-primary);
  font-size: 3rem;
  margin-top: 3rem;
  background: var(--color-background);
  border: 1px solid var(--color-body);
  border-radius: 0.5rem;
}

.footer li {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: var(--color-links);
}

.footer a:hover {
  color: var(--color-hover);
  transition: 0.4s;
}

.footer img {
  width: 3rem;
  fill: var(--color-secondary);
  margin-right: 1rem;
  position: relative;
  top: 0.5rem;
}

/*section*/
.meet {
  margin-top: 9rem;
  color: var(--color-accent);
  text-align: center;
  font-size: 2rem;
  border: 1px solid var(--color-body);

  background: #222;
  border-radius: 0.5rem;
}

.meet h3 {
  margin: 0.8rem;
}

.section--title {
  border: 1px solid var(--color-body);
  border-radius: 0.5rem;
  background: var(--color-background);
  color: var(--color-accent);
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.section--title h3 {
  margin: 0.8rem;
}

h6 {
  font-size: 2rem;
  font-family: dongle;
  color: var(--color-primary);
  text-align: center;

  margin-top: 3rem;
  margin-bottom: 3rem;
}

.footer h6 a {
  color: var(--color-accent);
  text-decoration: none;
}

.footer h6 a:hover {
  color: var(--color-secondary);
  transition: 0.4s;
}

/*Live*/

.live-feed {
  margin-top: 1rem;
  margin-left: 0.7rem;
  margin-bottom: 2rem;
}
